
/* a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
a:hover {
  color: darkblue;
} */
body {
  margin: 0;
  display: flex;
  place-items: left;
  min-width: 320px;
  min-height: 100vh;
  z-index: 0;
  position:absolute; left:0px; top:0px;
  /* background-image: url("../data/msgBack1.jpg"); */
  background-color: transparent;

}
/* body {
  margin: 0;
  display: flex;
  place-items: left;
  min-width: 320px;
  min-height: 100vh;
  z-index: 0;
  position:absolute; left:0px; top:0px;
} */

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.2em 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */

/* button:hover {
  background-color:red;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} */
