#errContainer{
    margin-top: 3rem;
    /* align-self: center; */
    background-color: transparent;
    border-radius: 15px;
    padding: 1rem;
    display: flex; 
    flex-direction: column; 
    max-width: fit-content;
    max-height: fit-content;
}
#errorDiv{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#errorTitle{
    background-color: transparent;
    height: fit-content;
    font-size: 2.5rem;
    overflow-wrap: normal;
    color: rgb(202, 59, 31);
    border: none;
    font-weight: bold;
    text-align: center;
    scrollbar-width:none;
    resize: none;
}

#spinner {
    display:none;
    position:relative;
    width:70px;
    height:70px;
    border-radius:50%;
    border-top: 15px solid transparent;
    border-left: 15px solid red;
    border-right: 15px solid red;
    border-bottom: 15px solid red;
    align-self: center;
    justify-self: center;
    animation: spin 1s linear infinite;
}
  
  @keyframes spin {
    100% {transform: rotate(1turn)}; 
}