/* html{
    display: flex;
    flex-flow: row nowrap;  
    align-items: flex-start;
    justify-content: left;
    height:100%;
    background-image: url("../data/msgBack1.jpg");

} */

/* body {
    flex: 0 1 auto;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-box-shadow: 0px 0px 96px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 96px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 96px 0px rgba(0,0,0,0.75);
    background-color: transparent;
} */

#loginContainer{
    position:absolute; left:10%; top:0; 
    max-width:30rem;
    margin: 10rem auto;
}

#loginContainer ::placeholder {
    color: gray;
    font-weight: lighter;
}

#loginBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: 5px solid #834444;
    border-radius: 20px;
    background-color: #808896;
}

#loginTitle{
    font-family: "Creepster", system-ui;
    position: relative;
    align-self: center;
    font-weight: 400;
    font-style: normal;
    font-size:3rem;
    width:25rem;
    height:70px;
}

#loginTitle span{
    background: -webkit-linear-gradient(45deg, rgb(133, 30, 30) 40%, rgba(24,140,200,1) 80%, rgb(151, 25, 23) 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width:100%;
}

#logInBtn{
    color: white;
    width: fit-content;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 3px 10px 3px 10px;
    margin: auto;
    background-color: blue;
    font-size: 1.5rem;
    margin-top: 0.5em;
}

#loginContainer input {
    font-weight: bold;
    font-size: 1.3rem;
    padding: 7px;
    margin: 5px;
    color: #0A0C0A;
    background-color: rgb(240, 240, 240);
    width: 27rem;
    border: 0;
    border-radius: 8px;
    height: auto;
}

#registerPage{
    margin-top: 20px;
    font-size: 1.5rem;
}

#registerLink{
    font-weight: bold;
    color: darkblue;
}

.hint{
    font-weight: 750;
    font-size: 1.1rem;
    margin-bottom:  6px;
}