.modal-content {
    background-color: transparent;
    
}
.modal-dialog{
    position:absolute; left:30%; top:0;
    /* width: 100px; */
    /* height: 100px; */
    background-color: transparent;
}
#messagesModal {    
    display: flex;
    flex-direction: column;
    width: 32rem;
    height:46rem;
    background-color: rgb(0, 0, 0);
    padding: 0px 0.5rem 0 0.5rem;
    border: 1px solid gray;
    border-radius: 20px;
    background-image: url("../data/msgBack1.jpg");
}


#messagesContainer {
    width:auto;
    padding: 5px 5px 0px 5px;
    background-color:transparent;
    height:550px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width:none;
    /* background-image: url("../data/msgBack1.jpg"); */
}

#msgContainer{
    /* display: flex; */
    position: relative;

    /* flex-direction: column; */
}

#msgReplyBtn{
    position: absolute;
    /* width:2.8rem; */
    /* height:2.5rem; */
    top: 10%;
    background-color: transparent;
    /* border: 2px solid purple; */
    /* border-radius: 40%; */
    /* opacity: 70%; */
}

#replyBtnIcon{
    font-size: 2.5rem;
    color:rgb(54, 115, 206);
    /* margin-bottom:2px; */
    cursor: pointer;
}

#scrlDownBtn{
    margin: 0 1rem 0 0;
    border-radius: 5px;
    width: 2.5rem;
    height: 2rem;
    background-color: rgb(138, 197, 197);
}

#scrlDownBtn >*{
    font-size: 1.2rem;
}
#refreshBtn{
    margin:0 0 0 0;
    border-radius: 5px;
    width: 2.2rem;
    height: 2rem;
    background-color: rgb(240, 215, 132);
}

#refreshBtn >*{
    font-size: 1.3rem;
}

#sendReplyMsgBtn{
    font-size: 1rem;
    margin-right: 30px;
    height:fit-content;
    width:5em;
    align-self: flex-start;
    margin: 0.5rem 0px 0px 0px;
    border-radius: 10px;
    color: blue;
}

#msgModalHeader {
    display: flex;
    flex-direction: row;
    height: 3rem;
    color: rgb(211, 211, 211);
    width :auto;
}   

.modal-title >* {
    font-weight:600;
    font-size:1.1em;
    width :20rem;
    color:rgb(231, 231, 31);
    margin: 0 2rem 0 -1rem ;
}

.modal-header .btn-close {
    background-color: white;
}

#sendMsgDiv {
    /* color: white; */
    /* align-self:flex-end; */
    color:aliceblue;
    display: flex;
    flex-direction: column;
    margin: 0px 0 10px 0;
    height:fit-content;
    width:100%;
    /* border: 2px solid rgb(254, 0, 0); */
    /* background-color: rgb(0, 0, 0); */
}
#sendMsgBody {
    color:black;
    font-size: 1rem;
    font-weight: bold;
    resize: none;
    border: 1px black solid;
    border-radius: 5px;
    width:85%;
    margin-top: 10px;
    /* margin-bottom: -20px; */
    height:3.5rem;    
    text-overflow:ellipsis;
    overflow-x:scroll;
    padding: 4px;
    scrollbar-width:none;
    background-color:rgb(213, 196, 196);
}

.msgInput {
    color: rgb(40, 35, 35);
    font-size: 1rem;
    border: 1px black solid;
    border-radius: 10px;
    width:100%;
    /* height:2.5em;     */
    text-overflow:ellipsis;
    overflow-x:scroll;
    padding: 3px 7px 3px 7px;
    scrollbar-width:none;
    resize: none;
    background-color:rgb(213, 197, 197);

}

#imageUrlInput{
    color:black;
    font-size: 1rem;;
    /* resize: none; */
    /* border: 1px black solid; */
    border-radius: 5px;
    width:85%;
    /* margin-top: 10px; */
    height:2em;
    /* margin-top: 0; */
    padding: 3px;
    background-color:rgb(213, 196, 196);
}

#sendMsgBtn {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: right;
    /* width:10%; */
    width:3rem;
    border: none;
    background-color: transparent;
    margin: -5.5rem 1.6rem 0 0;
}

#sendBtnIcon{
    /* float: right; */
    font-size: 3.5rem;
    color:rgb(54, 115, 206);
    /* background-color: transparent; */
}

#replyMsgSender{
    font-size: 0.8em;
    font-weight:lighter;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(250, 202, 168);
    margin:0 0 0 0.2rem;
}

#replyMsgSender::first-letter {
    text-transform: capitalize;
}

h2 {
    color: rgb(213, 213, 224);
    margin: 0%;
}

#messageCard, #replyMsgCard, #imageCard {
    display: flex;
    flex-direction: column;
    width: 65%;
    font-family: Arial, sans-serif;

    /* box-sizing: border-box; */
    /* justify-self: right; */
    /* height:100px; */
    /* max-height: max-content; */
    padding: 1px;
    /* border: 1px solid black; */
    border-radius: 1px 1px 5px 5px;
    /* min-height: 400px; */
    /* background-color: rgb(241, 214, 214); */
    margin-bottom: 8px;
}

#messageTime, #replyMsgTime {
    font-size: 0.8em;
    /* height: 20px; */
    height: 1.2em;
    align-self: flex-end;
    color:lightgray;
    margin: 0 3px 3px 0;
    /* pointer-events: none; */
}

#messageBody, #replyMsgBody {
    /* font-family: Arial, sans-serif; */
    margin-bottom: 5px;
    margin-left: 5px;
    line-break: anywhere;
    font-size: 1rem;
    color: white; 
    
}

.messageLine {
    margin:0px;
    /* font-family: Arial, sans-serif; */
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    pointer-events: none;   
}


#getImageBtn{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     padding: 2px;
     width: 30px;
     height: auto;
     align-self: flex-end;
     margin-left: -35px;
     margin-bottom: 5px;
 }

