#socketModal {
    position:absolute; left:2%; top:10%;
    /* max-width:30rem; */
    margin: auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: fit-content;
}

.modal-content {
    background-color: rgb(58, 53, 53);
    
}
.modal-dialog{
    position: absolute;
    background-color: transparent;
}
#socketMsgModal {    
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    width: 33rem;
    height: 50rem;
    background-color: rgb(0, 0, 0);
    padding: 0.5rem 0 0 0;
    border: 1px solid gray;
    border-radius: 0 0 10px 10px;
    background-image: url("../data/msgBack2.jpg");
}

#modalHeader{
    display:flex;
    flex-direction: column;
    height: fit-content;
    min-height: 2.5rem;
    align-items: flex-start;
    padding:0 0 0 1rem;
}

#modalHeader h3{
    color: rgb(246, 246, 102);
}

#modalTitle{
    margin: -0.6rem 0 0.4rem -1rem;
}

#SocketscrlDownBtn{
    align-self: flex-end;
    position: absolute;
    font-size: 1.2rem;
    left: 27rem;
    top: 0.4rem;
    border-radius: 5px;
    width: 2.7rem;
    height: 2.3rem;
    background-color: rgb(138, 197, 197);
}

#modalHeader .btn-close {
    font-size: 1.1rem;
    position: absolute;
    align-self: flex-end;
    background-color: white;
    width:1.1rem;
    height:1.1rem;
    left: 30.3rem;
    top: 1rem;
}

.socketTitle{
    position: relative;
    font-size: 1.1rem;
    color:rgb(206, 206, 96);
    width: fit-content;
    margin: 0 0 0 10px;
    white-space: nowrap;
}

.socketId{
    float: right;
    position: absolute;
    font-size: 0.8rem;
    right: -1.5rem;
    top:3.5rem;
    color:rgb(206, 206, 96);
    width: fit-content;
    margin: 0 10px 0 10px;
    white-space: nowrap;
}

#roomSelect{
    font-weight: bold;
    font-size: 1rem;
    color: rgb(66, 101, 214);
    margin: 0.1rem 0 0 1rem;
    border-radius: 5px;
    height: fit-content;
    width: 6rem;
}

#roomSection{
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    height:1.7rem;
    gap: 0.5rem;
    margin: 0 0 1rem -1rem;
}

#chatRoom{
    font-size: 1rem;
    max-width: 10rem;
    width: fit-content;
    border: none;
    border-radius: 5px;
    padding: 0 5px 2px 5px;
    margin: 0 0rem 0 0.5rem;
}

#joinBtn, #leaveAllBtn{
    padding: 0 5px 2px 5px;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
}

#joinBtn{
    color: blue;
}

#leaveBtn, #deleteBtn{
    font-size: 1rem;
    color: red;
    padding: 0 4px 0 5px;
    width: fit-content;
    height: fit-content;
    margin: 0 0 0 0.5rem;
    border-radius: 5px;
}

#socketMsgContainer {
    display:flex;
    flex-direction: column;
    width:auto;
    padding: 10px;
    margin: 0.5rem 0 0 0;
    background-color:transparent;
    overflow-y: scroll;
    scroll-behavior:smooth;
    scrollbar-width:none;
}

#chatBody{
    display: flex;
    flex-direction: column;
    max-width: 85%;
    margin-bottom: 0.7rem;
    
}

#chatReplyBtn{
    position:relative;
    background-color: transparent;
    align-self: center;
}

#chatReplyIcon{
    font-size: 2rem;
    color:rgb(54, 115, 206);
    cursor: pointer;
}

#chatMsgCard, #cloneReplyCard {
    font-size: 0.9rem;
    min-width: 7rem;
    height:fit-content;
    display: flex;
    flex-direction: column;
    padding: 1px;
    border-radius: 1px 1px 5px 5px;
}

#replyChatContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#replyChatCard{
    border-radius: 6px;
    font-size: 0.9rem;
    min-width: 7rem;
    width: inherit;
    height:fit-content;
    display: flex;
    flex-direction: column;
    padding: 1px;
    border-radius: 1px 1px 5px 5px;
    margin-bottom: 8px;
}

#replyChatImage {
    margin: 0 0 0 0;  
}

#replyChatSender{
    font-size: 0.8em;
    font-weight:lighter;
    width: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(228, 220, 180);
    margin:1px 0 0 0.2rem;
}

#replyChatSender::first-letter {
    text-transform: capitalize;
}

#chatMessageSender::first-letter {
    text-transform: capitalize;
}

#replyChatBodySection{
    display: flex;
    flex-direction: row;
    height: fit-content
}

#chatImageCard{
    display: flex;
    flex-direction: column;
}

#chatMessageBody, #replyChatBody {
    font-weight: normal;
    margin: -3px 0 0 0;
    line-break:auto;
    font-size: 1rem;
    color: white;
    padding: 0 0.3rem 0 0.3rem;
    height:fit-content;
    text-overflow: ellipsis;
    overflow-wrap:anywhere;
    width: inherit;
    
}

#replyChatBody {
    color:rgb(246, 246, 92);
}

#chatMessageSender{
    margin: 0 10px 0 2px;
    color: rgb(181, 187, 235); 
    font-size: 0.9rem;
    align-self: flex-start
}

.chatMessageLine {
    pointer-events: none;   
}

#chatMessageTime, #replyChatTime {
    font-family: Arial, sans-serif;
    font-size: 0.75em;
    height: 1.2em;
    align-self: flex-end;
    color:lightgray;
    margin: 3px 3px 1px 0;
}

#replyChatTime{
    margin: 0 3px 2px 0;
}

#cloneReplyCard {
    width: 22rem;
    opacity: 70%;
    margin: 1rem 0 -0.6rem 0;
    background-color: rgb(80, 132, 120);
    border-radius: 5px 2px 0 0;
}

#replyToShow{
    width:25rem;
    height: 5rem;
    border: 3px rgb(183, 0, 0) solid;
}

#replyCloseBtn{
    color: red;
    position: absolute;
    text-align: center;
    border: 2px solid black;
    left: 21rem;
    width:1.5rem;
    cursor: pointer;
}

#socketMsgModal label{
    color: white;
}
#socketMsgModal input{
    color: black;
}


form {
    height: fit-content;
}

#chatSendMsgDiv {
    color:aliceblue;
    display: flex;
    flex-direction: column;
    margin: 0 0 -0.5rem 10px;
    height:fit-content;
    width:100%;
}

#chatSendMsgBody {
    color:black;
    font-size: 1rem;
    font-weight: bold;
    resize: none;
    border-radius: 5px;
    width:75%;
    margin-top: 10px;
    height:3.5rem;    
    text-overflow:ellipsis;
    overflow-x:scroll;
    padding: 4px;
    scrollbar-width:none;
    background-color:rgb(213, 196, 196);
}

#chatImageUrlInput{
    color:black;
    font-size: 1rem;;
    border-radius: 5px;
    width:75%;
    height:2em;
    padding: 3px;
    background-color:rgb(213, 196, 196);
}

#chatSendMsgBtn {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: right;
    padding: 0 5px 0 0;
    width: 6.5rem;
    height: 5.5rem;
    background-color: lightgreen;
    border: 3px solid red;
    border-radius: 20%;
    margin: -5rem 0.5rem 0 0;
}

#chatSendBtnIcon{
    font-size: 3rem;
    color:rgb(54, 115, 206);
}

h2 {
    color: rgb(213, 213, 224);
    margin: 0%;
}


